.outerDiv{
    width:100%;
    height: 83px;
    background-color: rgb(45,27,14);
    color:rgb(227,118,0)
}

.container{
    display:flex;
    justify-content: space-between;
    width:90%;
    margin: 0 auto;
    align-items: center;
}
.left{
    display:flex;
    gap:10px;
    align-items: center;
}
.text{
    font-size: 2.5vw;
}
.right ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    

}
.right{
    width:60%;
}
.right ul li{
    font-size: 15px;
    display:flex;
    padding: 8px 0;
    box-sizing: border-box;

}

.right ul li:first-child{
    border:1px solid rgb(227,118,0);
    padding:9px 13px;
    border-radius: 25px;
    background-color: rgb(61,32,12);
}
.right ul li:last-child{
    border:1px solid rgb(227,118,0);
    padding:8px 15px;
    border-radius: 20px;
    background-color: rgb(249,170,0);
    color: #000;
    gap: 3px;

}
.right ul li:last-child a{
  color: #000;
  font-weight: bold;
}

.right ul li:last-child:hover{
   background-color: rgb(249, 190, 50); /* slightly brighter yellow */
  box-shadow: 0 0 15px rgba(249, 170, 0, 0.8);
}
.right li:hover{
    cursor: pointer;
}
.right ul li:not(:nth-child(5)):not(:last-child):hover{
    border:1px solid rgb(227,118,0);
    padding:9px 13px;
    border-radius: 25px;
    
}
.logo {
  fill: rgb(227,118,0);  /* sets the SVG color */
}
.menuIcon {
  display: none; /* default: hidden */
  cursor: pointer;
  font-size: 2rem; /* adjust size if needed */
  color: rgb(227,118,0);
}

@media (max-width: 768px) {
  .burger {
    display: block; /* show burger */
  }
  .menuIcon{
    display:block;
  }

  .right {
    display: none; /* hide list */
    position: absolute;
    top: 60px;
    right: 0;
    background: rgb(61,32,12);
    width: 100%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    border-radius: 8px;
  }
  .right ul li:first-child{
    border: none;  
    left: 0;
  }
  .cart{
    width:100%;
    border-top: 1px solid rgb(249,170,0);
    padding-top: 35px;
    padding-left: 250px;
    
  }

  .right.showMenu {
    display: block; /* show when burger clicked */
  }

  .right ul {
    flex-direction: column;
    padding: 15px;
    gap: 15px;
  }
}